{{ template "snippets/header.html" . }}

<div id="about">

    <h2>About</h2>

    <p>
        Memo team profiles:
        <a href="/profile/1F5GrRezwGokQhxmF4fYaBbbNrPPaeBqMm">@memo</a>,
        <a href="/profile/1QCBiyfwdjXDsHghBEr5U2KxUpM2BmmJVt">@jason</a>,
        <a href="/profile/13MuoY8fLzES35bNsMveiQR7eR93LtxBmy">@eric</a>
    </p>

    <p>
        For information about what Memo is, how it works, and why we're building it,
        visit the <a href="/introducing-memo">Introducing Memo</a> announcement.
    </p>

    <h2>FAQ</h2>

    <div>
        <h3>Where can I report a bug or feature request?</h3>
        We monitor the <a href="https://memo.cash/topic/memo">memo topic</a> and file tickets
        based on feedback.
        You can also send a message to Jason on Reddit (<a href="https://www.reddit.com/user/arnold2040">/u/arnold2040</a>)
        or Telegram (@arnold2040). Eric is also on Reddit (<a href="https://www.reddit.com/user/eric_memo">eric_memo</a>).
    </div>

    <div>
        <h3>Does Memo have access to my private keys?</h3>
        Private keys are stored encrypted with the user's Memo password.
        The key needs to be unencrypted to sign transactions. Memo does not have
        access to the private keys, so it is critical for users to keep a backup in
        case the Memo password is lost.
    </div>

    <div>
        <h3>What are the implications of posting to a public blockchain?</h3>
        <ul>
            <li><strong>Immutability</strong>: Memo actions (post, like, follow, tip) are public and visible to anyone.
                This is similar to some other social media, but there is a critical difference: <i>there are no delete or
                    edit functions</i> because blockchain data is immutable. We assume that in the future there will be a need to
                give more options on the Memo website about user intent, but the fact would remain that any action is permanently
                written to the blockchain and exists there for anyone to read. Keep this in mind while using Memo!</li>
            <li><strong>Portability</strong>: Your Memo account is controlled with a Bitcoin Cash address. You can use the
                same address with any application implementing Memo protocol or with a Bitcoin Cash wallet. This means
                you are in complete control of the actions and data associated with the address. </li>
        </ul>

    </div>

    <div>
        <a name="reputation"></a>
        <a name="connectivity"></a>
        <h3>What is Shared Connections?</h3>
        Shared Connections represents how connected a Memo account is from the perspective of your account.
        Currently it is the percentage of those you follow who follow the account.
        In other words, it's the number of shared first-degree connections.
        We have a goal to increase the value of the reputation system over time as we identify additional useful inputs.
    </div>

    <div>
        <h3>How are the Ranked, Personalized, and Top views determined?</h3>
        <ul>
            <li><i>Ranked</i>: smart sort using Score, Time, and Gravity (<a href="https://medium.com/hacking-and-gonzo/how-hacker-news-ranking-algorithm-works-1d9b0cf2c08d">more info</a>).</li>
            <li><i>Personalized</i>: sorted by how many of those you follow Like the memo in the time period selected.</li>
            <li><i>Top</i>: sorted by how many total Likes the memo received in the time period selected. Note
                that old memos can appear in this view if they recently received a Like.</li>
        </ul>
    </div>

    <div>
        <h3>Is there a Memo mobile app?</h3>
        We currently do not have a mobile app, but we plan to create one soon.
    </div>

    <div>
        <h3>Is there an open source client for Memo?</h3>
        The <a href="protocol">Memo protocol</a> and <a href="https://github.com/memocash/memo">the website</a>
        are open source. We have not created other clients yet, but anyone can build a new one using the specification.
        We're currently focused on improving the site and then building a mobile app.
    </div>

    <div>
        <h3>Where can I make translation contributions and corrections?</h3>
        Please post to the <a href="https://memo.cash/topic/Memo+Languages">Memo Languages topic</a>. For Github users, <a href="https://github.com/memocash/memo/issues/new">create a new issue</a> with the details.
    </div>

</div>
<br/>

{{ template "snippets/footer.html" . }}
