{{ template "snippets/header.html" . }}

<br/>

<p>
    <a class="btn btn-default" href="topic/{{ .TopicEncoded }}">Back to topic <b>{{ .Topic }}</b></a>
</p>

{{ if and (eq .NextOffset 25) (lt (len .TopicFollowers) 25) }}{{ else }}
<p class="pagination">
    <a class="{{ if eq .NextOffset 25 }}disabled{{ end }}" href="{{ .OffsetLink }}?offset={{ .PrevOffset }}">
        &lt; {{ T "previous" }}</a>
    <span class="page">{{ .Page }}</span>
    <a class="{{ if lt (len .TopicFollowers) 25 }}disabled{{ end }}" href="{{ .OffsetLink }}?offset={{ .NextOffset }}">
    {{ T "next" }} &gt;</a>
</p>
{{ end }}

{{ $isLoggedIn := .IsLoggedIn }}
<br/>
{{ if .TopicFollowers }}
<table class="table">
    <thead>
    <tr>
        <th>{{ T "name" }}</th>
        <th>{{ T "address" }}</th>
    {{ if $isLoggedIn }}
        <th>{{ T "connections" }}</th>
    {{ end }}
    </tr>
    </thead>
    <tbody>

    {{ range .TopicFollowers }}
    <tr>
        <td>
            <a href="/profile/{{ .GetAddressString }}">
            {{ .Name }}
            </a>
        </td>
        <td>
            <a href="/profile/{{ .GetAddressString }}">
            {{ .GetAddressString }}
            </a>
        </td>
    {{ if $isLoggedIn }}
        <td>
        {{ .Reputation.GetPercentStringIncludingDirect }}
        </td>
    {{ end }}
    </tr>
    {{ end }}
    </tbody>
</table>
{{ else }}
<p>This topic does not have any followers yet.</p>
{{ end }}
<br/>

{{ if and (eq .NextOffset 25) (lt (len .TopicFollowers) 25) }}{{ else }}
<p class="pagination">
    <a class="{{ if eq .NextOffset 25 }}disabled{{ end }}" href="{{ .OffsetLink }}?offset={{ .PrevOffset }}">
        &lt; {{ T "previous" }}</a>
    <span class="page">{{ .Page }}</span>
    <a class="{{ if lt (len .TopicFollowers) 25 }}disabled{{ end }}" href="{{ .OffsetLink }}?offset={{ .NextOffset }}">
    {{ T "next" }} &gt;</a>
</p>
{{ end }}

{{ template "snippets/footer.html" . }}
