{{ template "snippets/header.html" . }}

{{ template "topics/header.html" . }}

<br/>

<div class="topics-index-head center">
    <form id="topic-search-form" class="form-inline search-form">
        <input id="topic-search" class="form-control" type="text" name="s" placeholder="{{ T "name" }}"
               value="{{ .SearchString }}"/>
        <input class="btn btn-primary" type="submit" value="{{ T "search" | Title }}"/>
    </form>
    &nbsp;
    <a class="btn btn-default" href="topics/create">{{ T "Create_new_topic" }}</a>
</div>

{{ if not (and (eq .NextOffset 25) (lt (len .Topics) 25)) }}
<p class="pagination">
    <a class="{{ if eq .NextOffset 25 }}disabled{{ end }}"
       href="{{ .OffsetLink }}&offset={{ .PrevOffset }}">&lt; {{ T "previous" }}</a>
    <span class="page">{{ .Page }}</span>
    <a class="{{ if lt (len .Topics) 25 }}disabled{{ end }}"
       href="{{ .OffsetLink }}&offset={{ .NextOffset }}">{{ T "next" }}
        &gt;</a>
</p>
{{ else }}
<br/>
{{ end }}

<table class="table left topics-table table-striped">
    <thead>
    <tr>
        <th>
            <span class="glyphicon glyphicon-asterisk placeholder" aria-hidden="true"></span>
        {{ T "Topic" }}
        </th>
        <th>{{ T "Most_recent_post" }}</th>
        <th>{{ T "posts" }}</th>
        <th>{{ T "followers" }}</th>
    </tr>
    </thead>
    <tbody>
    {{ range .Topics }}
    <tr>
        <td>
            <span class="glyphicon glyphicon-asterisk {{ if not .UnreadPosts }}placeholder{{ end }}"
                  aria-hidden="true"></span>
            <a href="topic/{{ .GetUrlEncoded }}">{{ .Name }}</a>
        </td>
        <td>{{ .GetTimeAgo }}</td>
        <td>{{ .CountPosts }}</td>
        <td>
        {{if gt .CountFollows 0 }}
            <a href="topics/followers/{{ .GetUrlEncoded }}">{{ .CountFollows }}</a>
        {{ else }}
            {{ .CountFollows }}
        {{ end }}
        </td>
    </tr>
    {{ end }}
    </tbody>
</table>

<br/>

{{ if not (and (eq .NextOffset 25) (lt (len .Topics) 25)) }}
<p class="pagination">
    <a class="{{ if eq .NextOffset 25 }}disabled{{ end }}"
       href="{{ .OffsetLink }}&offset={{ .PrevOffset }}">&lt; {{ T "previous" }}</a>
    <span class="page">{{ .Page }}</span>
    <a class="{{ if lt (len .Topics) 25 }}disabled{{ end }}"
       href="{{ .OffsetLink }}&offset={{ .NextOffset }}">{{ T "next" }}
        &gt;</a>
</p>
{{ end }}

<br/>
<br/>

{{ template "snippets/footer.html" . }}
