{{ template "snippets/header.html" . }}

<div class="center">
    <h2>{{ T "Topic" }} - {{ .Topic }}</h2>
    <p class="topic-view-nav">
        <a href="topics{{ if .LastTopicList }}/{{ .LastTopicList }}{{ end }}" class="btn btn-default">{{ T "Back_to_topics" }}</a>
    {{ if gt .FollowerCount 0 }}
        <a class="btn btn-default" href="topics/followers/{{ .TopicEncoded }}">View {{ .FollowerCount }} followers</a>
    {{ end }}
    {{ if .IsLoggedIn }}
        <span id="follow-topic">
            <a href="#" id="follow-topic-button" class="btn btn-primary">
            {{- if not .IsFollowingTopic }}{{ T "follow" 1 | Title }}{{ else }}{{ T "unfollow" 1 | Title }}{{ end }} </a>
            <a href="#" id="follow-topic-confirm" class="btn btn-warning hidden">Confirm
            {{ if not .IsFollowingTopic }}{{ T "follow" 1 | Title }}{{ else }}{{ T "unfollow" 1 | Title }}{{ end }}</a>
            <a href="#" id="follow-topic-cancel" class="btn btn-light hidden">Cancel</a>
            <button id="follow-topic-creating" class="btn btn-warning hidden">Creating
            {{ if not .IsFollowingTopic }}{{ T "follow" 1 | Title }}{{ else }}{{ T "unfollow" 1 | Title }}{{ end -}}
                ...</button>
            <button id="follow-topic-broadcasting" class="btn btn-warning hidden">Broadcasting...</button>
        </span>
    {{ end }}
    </p>
</div>
<div id="all-posts" style="position:relative;">
{{ template "topics/posts.html" dict "Posts" .Posts "TimeZone" .TimeZone "UserSettings" .UserSettings }}
</div>

{{ if .IsLoggedIn }}
<form id="form-new-topic-message" method="post" autocomplete="off">
    <input type="hidden" name="topic" value="{{ .Topic }}"/>
    <p>
        <label for="message">{{ T "message" }} <span class="message-byte-count byte-count"></span></label>
        <input id="message" type="text" name="message" class="form-control" value="" placeholder="{{ T "message" }}"
               required/>
    </p>
    <p>
        <input class="btn btn-primary" type="submit" value="{{ T "Send" }}"/>
        <span id="broadcasting" class="hidden">
            Broadcasting...
        </span>
    </p>
</form>
{{ end }}

<input type="hidden" value="{{ .Topic }}" id="topic-name" />

<script type="text/javascript">
    $(function () {
        // handles html encoding
        var topicName = $("#topic-name").val();
    {{ if .IsLoggedIn }}
        MemoApp.Form.NewTopicMessage($("#broadcasting"), $("#form-new-topic-message"));
        MemoApp.Form.FollowTopic($("#follow-topic"), topicName, {{ if .IsFollowingTopic }}true{{ else }}false{{ end }});
    {{ end }}
        MemoApp.SetFirstPostId({{ .FirstPostId }});
        var $allPosts = $("#all-posts");
        $allPosts.scrollTop($allPosts[0].scrollHeight);
        MemoApp.WatchNewTopics(topicName, $allPosts);
        MemoApp.LoadMore(topicName, $allPosts);
    });
</script>

<br/>

{{ template "snippets/footer.html" . }}
